{% extends "dashboard/dashboard.html" %}

{% block content %}

<div class="col-lg-9">
    <input id="csearch" style="margin:18px 0; width:200px;" class="form-control" type="text" placeholder="Search" aria-label="Search">
<div class="table-responsive">
  <table class="table table-hover" style="margin-top:18px;" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {% for c in customer %}
    <tbody>
      <tr>
        <td>{{ c.c_id }}</td>
        <td>{{ c.c_first_name }}</td>
        <td>{{ c.c_last_name }}</td>
        <td>{{ c.c_email }}</td>
        <td>{{ c.c_password }}</td>

        <td>
          <a href="/dashboard/customer/edit/{{c.c_id}}"> <button class="btn btn-secondary" type="submit" name="button">Edit</button> </a>
          <a href="/dashboard/customer/delete/{{c.c_id}}"> <button class="btn btn-danger" type="submit" name="button2">Delete</button> </a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <form method="POST" action="/dashboard/customer/">
  {% csrf_token %}
    <button type="submit" name="prev" value="prev" id="prev" class="btn btn-danger">Previous</button>
    <input class="form" style="width:140px;height:35px;" type="number" name="page" id="page" value="{{page}}" min="1" readonly>
    <button type="submit" name="next" value="next" id="next" class="btn btn-danger" >Next</button>
  </form>
     </div>
</div>


  {% endblock %}
