{% extends "dashboard/dashboard.html" %}

{% block content %}
<div class="col-lg-9">

    <form method="POST" action="/dashboard/usertable/update/{{users.u_id}}" style="margin:55px 10px;">

     {% csrf_token %}
     <div class="form-group">
       <label> User Email </label>
     <input type="text" class="form-control" value="{{users.u_email}}" name="u_email"/>
     </div>
     <div class="form-group">
       <label> Password </label>
     <input type="password" class="form-control" value="{{users.u_password}}" name="u_password"/>
     </div>
    <button class="btn btn-success" type="submit">Update</button>
    </form>

       </div>

{% endblock %}
