{% extends "dashboard/dashboard.html" %}

{% block content %}
<div class="col-lg-9">

  <form method="POST" action="/dashboard/tickets/update/{{tickets.t_id}}" style="margin:55px 10px;">

     {% csrf_token %}
     <div class="form group">
       <label>Seat Types</label>
       <select class="form-control" name="t_seat_type">
         <option value="Premium (Rs. 400 per person)">Premium (Rs. 400 per person)</option>
         <option value="Silver (Rs. 550 per person)">Silver (Rs. 550 per person)</option>
         <option value="Gold (Rs. 700 per person)">Gold (Rs. 700 per person)</option>
         </select>
</div>



     <div class="form-group">
        <label>Email</label>
        <input type="text" value="{{tickets.cus_id}}" name="cus_id" class="form-control" placeholder="Email">
       </div>


     <div class="form-group">
       <label> Number of Tickets </label>
     <input type="number" class="form-control" value="{{tickets.t_tickets}}" name="t_tickets"/>
     </div>


    <div class="form group">
      <label>Theatres</label>
      <select class="form-control" name="t_theatres">
        <option value="C Cinema">C Cinema</option>
        <option value="L Cinema">L Cinema</option>
        <option value="M Movies">C Movies</option>
        <option value="Cinema Y">Cinema Y</option>
        <option value="E Movies">E Movies</option>
        <option value="K Cinema">K Cinema</option>
        <option value="Le Shows">Le Shows</option>
         <option value="Galleria">Galleria</option>
      </select>

      </div>
      <div class="form group">
        <label>Movies</label>
        <select class="form-control" name="mov">
          {% for m in movie %}
          <option value="{{m.m_id}}">{{m.m_movie_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form group">
        <label>Hall</label>
        <select class="form-control" name="t_hall">
          <option value="Hall A (14/2/2020 11:30pm)">Hall A (14/2/2020 11:30pm)</option>
          <option value="Hall B (14/2/2020 4pm)">Hall B (14/2/2020 4pm)</option>
          <option value="Hall C (15/2/2020 12:00pm)">Hall C (15/2/2020 12:00pm)</option>
          <option value="Hall D (15/2/2020 4:30pm)">Hall D (15/2/2020 4:30pm)</option>

        </select>
      </div>
<br>
    <button class="btn btn-success" type="submit">Update</button>
  </form>

       </div>

{% endblock %}
