{% extends "dashboard/dashboard.html" %}

{% block content %}

<div class="col-lg-9">

<form method="POST" action="/dashboard/customer/update/{{customer.c_id}}" onsubmit="return validateCustomerEdit()" >

 {% csrf_token %}
<div class="form-group">
  <label> Customer First name </label>
<input type="text" class="form-control" value="{{customer.c_first_name}}" id="customerfirstnameedit" name="c_first_name"/>
<span class="text-danger" id="spancustomerfirstnameedit"></span>
</div>
<div class="form-group">
  <label> Customer Last name </label>
<input type="text" class="form-control" value="{{customer.c_last_name}}" id="customerlastnameedit" name="c_last_name"/>
<span class="text-danger" id="spancustomerlastnameedit"></span>
</div>
<div class="form-group">
<label> Customer Email </label>
<input type="text" class="form-control" value="{{customer.c_email}}" id="customeremailedit" name="c_email"/>
<span style="font-size:12px;" class="text-danger" id="spancustomeremailedit"></span>
</div>
<div class="form-group">
<label> Password </label>
<input type="password" class="form-control"value="{{customer.c_password}}" name="c_password"/>
</div>

<button class="btn btn-success" type="submit">Update</button>
</form>
</div>

{% endblock %}
