{% extends "dashboard/dashboard.html" %}

{% block content %}
<div class="col-lg-9">
<div class="table-responsive">
<table class="table table-hover" style="margin-top:18px;" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ticket Id</th>
      <th scope="col">Tickets</th>
      <th scope="col">Theatres</th>
      <th scope="col">Seat type</th>
      <th scope="col">Hall</th>
      <th scope="col">Customer Email</th>
      <th scope="col">Movie</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for t in tickets %}
    <tr>
      <td>{{ t.t_id }}</td>
      <td>{{ t.t_tickets }}</td>
      <td>{{ t.t_theatres }}</td>
      <td>{{ t.t_seat_type }}</td>
      <td>{{ t.t_hall }}</td>
      <td>{{ t.cus_id }}</td>
      <td>{{ t.mov.m_movie_name }}</td>
      <td>
        <a href="/dashboard/tickets/edit/{{t.t_id}}"><button class="btn btn-secondary" type="submit" name="button1">Edit</button></a>
        <a href="/dashboard/tickets/delete/{{t.t_id}}"><button class="btn btn-danger" type="submit" name="button2">Delete</button</a>
      </td>
    </tr>

  </tbody>
  {% endfor %}

</table>
<form method="POST" action="/dashboard/tickets/">
{% csrf_token %}
  <button type="submit" name="prev" value="prev" id="prev" class="btn btn-danger">Previous</button>
  <input class="form" style="width:140px;height:35px;" type="number" name="page" id="page" value="{{page}}" min="1" readonly>
  <button type="submit" name="next" value="next" id="next" class="btn btn-danger" >Next</button>
</form>
</div>
   </div>
{% endblock %}
